<template name="Collapse">
  <div class="collapse">
    <div class="collapse-item">
      <input id="collapse-one" type="checkbox" name="collapse-group">
      <label for="collapse-one">Label One</label>
      <div class="collapse-content">
        <p>Text</p>
      </div>
    </div>
    <div class="collapse-item">
      <input id="tab-two" type="checkbox" name="collapse-group">
      <label for="tab-two">Label Two</label>
      <div class="collapse-content">
        <p>Text</p>
      </div>
    </div>
    <div class="collapse-item">
      <input id="tab-three" type="checkbox" name="collapse-group">
      <label for="tab-three">Label Three</label>
      <div class="collapse-content">
        <p>Text</p>
      </div>
    </div>
  </div>
</template>
