/*
 * Modules
 * @ Button
 *
*/

.button {
    position: relative;
    padding: 0 16px;
    border: none;
    overflow: visible;
    outline: 0;
    text-transform: none;
    display: inline-block;
    vertical-align: middle;
    background: #f4f4f4;
    min-height: 42px;
    line-height: 42px;
    color: $dark-opacity-color;
    vertical-align: middle;
    @include font-size(16px);
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    pointer-events: auto;
    -webkit-appearance: none;
    @include transition(all, 0.2s, ease-in-out);
    @include box-sizing(border-box);
    @include border-radius($base-radius);
    &:hover {
        opacity:0.88;
    }
    &:active {
        opacity:0.88;
        @extend .no-depth;
    }
    /*
     * Button Icon
    */
    i {
        font-size: $base-font-size;
    }
    /*
     * Button Badge
    */
    .badge-notification {
        position: absolute;
        top: 1px;
        right: 1px;
        @extend .depth;
    }
}


/*
 *
 * Button Sizes
 *
*/


/*
 * Button Small
*/

.button-small {
    min-height: 32px;
    line-height: 32px;
    @include font-size(15px);
}


/*
 * Button Large
*/

.button-large {
    min-height: 52px;
    line-height: 52px;
    padding: 0 20px;
    @include font-size(20px);
}


/*
 *
 * Button Styles
 *
*/


/*
 * Button Rounded
*/

.button-rounded {
    @include border-radius($base-rounded-radius);
}


/*
 * Button Clear
*/

.button-clear {
    background: transparent;
    @extend .no-depth;
    &:hover {
        @extend .no-depth;
    }
    &:active {
        opacity:0.88;
        @extend .no-depth;
    }
}


/*
 * Button Circle
*/

.button-circle {
    min-height: 38px;
    line-height: 38px;
    min-width: 38px;
    width: 38px;
    padding: 0;
    @include border-radius($base-circle-radius);
    i {
        font-size: 12px;
    }
}


/*
 * Button Outline
*/

.button-outline {
    @include box-shadow(0, 0, 0, 2px, rgba(0, 0, 0, .08));
    background:transparent!important;
    color:$dark-opacity-color!important;
    &:hover {
        @include box-shadow(0, 0, 0, 2px, rgba(0, 0, 0, .2));
    }
}


/*
 *
 * Button Themes
 *
*/


/*
 * Button Primary
*/

.button-primary {
    background: $primary-color;
    color: color($light, 1000);
    i {
        color: color($light, 1000);
    }
}


/*
 * Button Secondary
*/

.button-secondary {
    background-color: $secondary-color;
    color: color($light, 1000);
    i {
        color: color($light, 1000);
    }
}


/*
 * Button Error
*/

.button-error {
    background-color: color($red, 500);
    color: color($light, 1000);
    i {
        color: color($light, 1000);
    }
}


/*
 * Button Rounded
*/

.button-success {
    background: #64DD17;
    color: color($light, 1000);
}


/*
 * Button Info
*/

.button-info {
    background: color($blue, 500);
    color: color($light, 1000);
}


/*
 * Button Assertive
*/

.button-assertive {
    background: color($orange, 500);
    color: color($light, 1000);
}
