/*
 * Modules
 * @ Article
*/

.article {
    .article-header {
        .article-title {
            @include font-size(42px);
            font-weight: 400;
        }
        .article-meta {
            color: #888;
            line-height: 16px;
            margin: 5px 0 10px 0;
            display: block;
            @include font-size(14px);
        }
        .article-lead {
            line-height: 20px;
            color:$text-color;
            @include font-size(16px);
        }
    }
    .article-content {
        p {
            line-height: 20px;
            color:$text-color;
            @include font-size(16px);
            a {
                display: inline;
            }
        }
    }
}
