/*
 * Modules
 * @ Footer
 *
*/

.Footer {
    width: 100%;
    margin-top:20px;
    border-top:1px solid $light-color;
    position:absolute;bottom:0;left:0;
    min-height:42px;
    padding:6px;
    .footer-links {
        margin:0;
        li {
            position: relative;
            display: inline-block;
            margin: 0 10px;
            &:last-child {
                &:before {
                    display: none;
                }
            }
            a {
                color: $primary-color;
            }
            &:before {
                position: absolute;
                left: 36px;
                top: 0;
                content: ".";
                line-height: 2px;
                color: #999;
                @include font-size(36px);
            }
        }
    }
    .footer-copyright {
        margin:0!important;
        color:$text-color;
        @include font-size(12px);
    }
    .footer-logo {
        margin: 0 auto 20px auto;
    }
}

.footer-positive {
    border-top: 1px solid $light-color;
    background: $primary-color;
    color: #fff;
    .footer-links {
        li {
            a {
                color: #fff;
            }
        }
    }
}
